<template>
  <div>
    <TotalBalance class="mb-2" />
    <ToolbarByMonth
      class="mb-2"
      format="MM-YYYY"
      @month="changeMonth"
      :color="toolbarColor"
      :month="month || $route.query.month"
      :showSlot="true"
    >
      <RecordsFilter @filter="filter" />
    </ToolbarByMonth>
    <v-card>
      <v-card-text class="text-center" v-if="mappedRecordsLength === 0">
        <v-icon size="100" color="grey">assignment</v-icon>
        <p class="font-weight-light subheading grey--text">Nenhum lançamento no período</p>
      </v-card-text>
      <v-list two-line subheader v-else>
        <template v-for="(records, date, index) in mappedRecords">
          <v-subheader :key="date">{{ date }}</v-subheader>
          <RecordsListItem v-for="record in records" :key="record.id" :record="record" />
          <v-divider :key="`${date}-${index}`" v-if="showDivider(index, mappedRecords)"></v-divider>
        </template>
      </v-list>
      <v-footer class="pa-2">
        <v-flex text-right>
          <h3 class="font-weigth-ligth">
            <span>Saldo do Mês</span>
            <strong class="ml-5" :class="amountColor(totalAmount)">{{ formatCurrency(totalAmount) }}</strong>
          </h3>
        </v-flex>
      </v-footer>
    </v-card>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import moment from "moment";
import { groupBy } from "@/utils";
import RecordsListItem from "./RecordsListItem.vue";
import ToolbarByMonth from "./ToolbarByMonth.vue";
import TotalBalance from "./TotalBalance.vue";
import RecordsService from "./../services/records-service";
import RecordsFilter from "./RecordsFilter.vue";
import amountColorMixin from "./../mixins/amount-color";
import formatCurrencyMixin from "@/mixins/format-currency";
import { Subject } from "rxjs";
import { mergeMap } from "rxjs/operators";
const { mapState, mapActions } = createNamespacedHelpers("finances");

export default {
  name: "RecordsList",
  components: {
    RecordsFilter,
    RecordsListItem,
    ToolbarByMonth,
    TotalBalance
  },
  mixins: [amountColorMixin, formatCurrencyMixin],
  data: () => ({
    records: [],
    filtersSubject$: new Subject(),
    subscriptions: []
  }),
  computed: {
    ...mapState(["filters", "month"]),
    mappedRecords() {
      return groupBy(this.records, "date", (record, dateKey) => {
        return moment(record[dateKey].substr(0, 10)).format("DD/MM/YYYY");
      });
    },
    totalAmount() {
      return this.records.reduce((sum, record) => sum + record.amount, 0);
    },
    mappedRecordsLength() {
      return Object.keys(this.mappedRecords).length;
    },
    toolbarColor() {
      return this.totalAmount < 0 ? "error" : "primary";
    }
  },
  created() {
    this.setRecords();
  },
  destroyed() {
    this.subscriptions.forEach(s => s.unsubscribe());
  },
  methods: {
    ...mapActions(["setMonth"]),
    filter() {
      this.filtersSubject$.next({ month: this.month, ...this.filters });
    },
    showDivider(index, object) {
      return index < Object.keys(object).length - 1;
    },
    setRecords() {
      this.subscriptions.push(
        this.filtersSubject$
          .pipe(mergeMap(variables => RecordsService.records(variables)))
          .subscribe(records => (this.records = records))
      );
    },
    changeMonth(month) {
      this.$router.push({
        path: this.$route.path,
        query: { month }
      });
      this.setMonth({ month });
      this.filter();
    }
  }
};
</script>
